body{
    background-color: rgb(204, 177, 143) ;
    font-size: 1em;

}

h1{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    color:white;

}

input{
    margin-bottom: 20px;
    background-color: white ;

}

#email{
    text-align: center;
    padding: 1%;
    color: white;
    

}

#number{
    text-align: center;
    color: white;
    

}

#DOB{
    text-align: center;
    color: white;


}
#form{
    position: absolute;
    text-align:center;
    width:500px;
    padding: 20px;    
    border: 0.2em solid black;
    padding-left: 3%;
    padding-right: 3%;
    background-color: rgb(128, 68, 68);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;


}

@media only screen and (min-width: 800px){
    #form {
        width: 50%;
    }

}