body{
    background-color: rgb(229, 45, 45) ;
    font-size: 1em;

}

h1{
    text-align: center;

}

input{
    margin-bottom: 20px;
    background-color: white ;

}

#email{
    text-align: center;

}

#number{
    text-align: center;

}

#DOB{
    text-align: center;


}
#form{
    text-align:center;
}