body{
    background-color: rgb(167, 12, 12) ;
    font-size: 1em;

}

h1{
    text-align: center;

}

input{
    margin-bottom: 20px;
    background-color: white ;

}

#email{
    text-align: center;

}

#number{
    text-align: center;

}

#DOB{
    text-align: center;


}
#form{
    position: absolute;
    text-align:center;
    top:50%;
    left: 50%;

}